!<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="og:Little Lemon" content="Mediterranean restaurent"/>
        <meta name="og:description" content="Little Lemon is a family owned mediterranean restaurent in Chicago."/>
        <meta name="og:image" content="./images/logo.png"/>
        <title ></title>
        <link rel="" href="">
    </head>

    <body>
        <nav>
            <ul>
                <a img href="./images/logo.png"> Logo</a>
                <a href="/Home"> Home</a>
                <a href="/About"> About</a>
                <a href="/Menu"> Menu</a>
                <a href="/Reservations"> Reservatons</a>
                <a href="/Oder Online"> Order Online</a>
                <a href="/Login"> Login</a>
            </ul>
        </nav>

        <main>
            <div class="Hiro-Section"></div>
            <div class="Specials-section"></div>
            <div class="testimonials-section"></div>
            <div class="About"></div>
        </main>
        <footer>
            <ul>
                <h3> Doormat Navigation</h3>
                <li href="/Home"> Home</li>
                <li href="/About"> About</li>
                <li href="/Menu"> Menu</li>
                <li href="/Reservation"> Reservation</li>
                <li href="/Order Online"> Order Online</li>
                <li href="/Login"> Login</li>
             </ul>
             <ul>
                <h3> Constact</h3>
                <li> Address</li>
                <li> Phone Number</li>
                <li> Email</li>
             </ul>
             <ul>
                <h3> Social Media Links</h3>
                <li> Facebook</li>
                <li> Instegram</li>
                <li> Youtube</li>
             </ul>
        </footer>
    </body>
</html>